In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [5]:
df = pd.read_csv('../etl/data/property_ml_ready.csv')
df.tail(40)

,property_id,deal_type,user_type,district,type_name,size_sqm,rooms,floor,year_built,post_date,sell_date,renovation_status,estimated_saleprice,estimated_rentprice
1396,2895,Sale,Agent,Nor Nork,House,159.2,3,9,2015,2024-01-23,2025-03-12,Partially Renovated,221314.41,885.26
1397,2897,Rent,Owner,Avan,House,165.7,3,2,2008,2024-06-12,NaN,Newly Renovated,311521.58,1246.09
1398,2906,Sale,Owner,Avan,House,177.5,5,12,1975,2025-05-02,2025-05-01,Not Renovated,357039.18,1428.16
1399,2908,Rent,Agent,Kentron,House,43.7,1,4,2002,2025-01-26,2025-05-01,Not Renovated,54413.03,217.65
1400,2911,Rent,Agent,Shengavit,House,172.8,4,8,1982,2023-07-23,2025-05-01,Partially Renovated,324534.92,1298.14
1401,2912,Sale,Owner,Arabkir,House,156.7,2,9,2016,2024-10-27,2025-03-01,Not Renovated,198701.03,794.80
1402,2914,Rent,Owner,Nor Nork,House,124.9,1,11,1970,2025-03-11,NaN,Newly Renovated,184750.99,739.00
1403,2919,Rent,Owner,Avan,House,175.9,6,9,1977,2022-08-11,2025-04-03,Partially Renovated,254913.55,1019.65
1404,2921,Sale,Buyer,Kentron,House,155.4,2,8,1983,2023-09-14,NaN,Not Renovated,197412.08,789.65
1405,2925,Rent,Owner,Erebuni,House,100.4,2,9,2013,2024-11-17,NaN,Not Renovated,173953.78,695.82
1406,2926,Rent,Owner,Nork-Marash,House,140.6,2,11,1977,2024-07-03,2025-02-10,Partially Renovated,229180.33,916.72
1407,2930,Rent,Agent,Davtashen,House,143.8,5,8,1993,2025-10-18,2025-01-08,Not Renovated,237645.54,950.58
1408,2935,Sale,Owner,Nor Nork,House,166.4,1,11,1989,2025-12-17,NaN,Newly Renovated,276455.96,1105.82
1409,2936,Rent,Agent,Nork-Marash,House,102.8,3,10,1989,2022-11-03,NaN,Newly Renovated,241141.62,964.57
1410,2938,Rent,Buyer,Malatia-Sebastia,House,155.3,5,12,2021,2022-01-17,2025-04-24,Partially Renovated,359529.76,1438.12
1411,2939,Rent,Buyer,Erebuni,House,119.3,2,10,1967,2021-02-11,2025-05-01,Not Renovated,148905.26,595.62
1412,2941,Sale,Buyer,Nubarashen,House,153.2,1,12,1984,2022-10-03,2025-05-01,Partially Renovated,272731.10,1090.92
1413,2943,Sale,Buyer,Ajapnyak,House,120.2,6,2,1974,2024-08-08,NaN,Not Renovated,156414.54,625.66
1414,2944,Sale,Agent,Avan,House,69.2,5,6,1974,2022-04-15,2025-04-11,Not Renovated,128274.95,513.10
1415,2954,Sale,Agent,Davtashen,House,31.6,5,11,2017,2021-11-27,2025-03-30,Newly Renovated,96737.44,386.95
1416,2960,Rent,Buyer,Kentron,House,133.6,1,9,1967,2022-03-01,2024-12-22,Partially Renovated,174777.98,699.11
1417,2961,Sale,Owner,Erebuni,House,166.3,3,6,2000,2021-04-07,2025-03-20,Newly Renovated,232685.37,930.74
1418,2962,Rent,Buyer,Malatia-Sebastia,House,38.9,5,10,2013,2022-08-09,2025-04-12,Partially Renovated,98595.70,394.38
1419,2963,Rent,Agent,Nor Nork,House,175.4,2,7,1972,2021-11-19,2025-05-01,Partially Renovated,185135.44,740.54
1420,2965,Sale,Agent,Shengavit,House,143.3,2,3,1994,2024-04-15,2025-02-28,Partially Renovated,312446.97,1249.79
1421,2967,Sale,Buyer,Nor Nork,House,42.0,3,7,1998,2022-07-03,2025-02-04,Partially Renovated,79011.42,316.05
1422,2968,Sale,Buyer,Nubarashen,House,133.9,3,4,1991,2022-12-31,2025-05-01,Newly Renovated,369431.25,1477.73
1423,2972,Rent,Agent,Davtashen,House,58.1,3,6,1975,2024-10-27,2025-05-01,Partially Renovated,110147.64,440.59
1424,2973,Sale,Owner,Nork-Marash,House,102.3,4,8,1974,2023-12-08,2025-03-09,Partially Renovated,218658.50,874.63
1425,2977,Rent,Owner,Arabkir,House,80.0,1,10,1966,2022-04-03,NaN,Not Renovated,154327.45,617.31
1426,2979,Sale,Buyer,Nubarashen,House,51.6,3,1,1995,2021-02-09,NaN,Partially Renovated,70871.89,283.49
1427,2981,Rent,Agent,Nork-Marash,House,101.3,5,11,1975,2024-05-14,2025-05-01,Newly Renovated,247946.31,991.79
1428,2986,Sale,Agent,Nork-Marash,House,147.7,2,2,1984,2025-07-19,NaN,Partially Renovated,291352.86,1165.41
1429,2987,Rent,Agent,Nubarashen,House,74.4,4,10,2008,2025-12-22,NaN,Newly Renovated,130562.44,522.25
1430,2988,Sale,Agent,Nor Nork,House,162.0,6,10,1989,2023-06-20,2025-04-11,Newly Renovated,308043.02,1232.17
1431,2989,Rent,Owner,Nor Nork,House,133.9,1,2,2010,2023-10-05,2025-04-16,Newly Renovated,335928.75,1343.71
1432,2990,Sale,Buyer,Nor Nork,House,141.2,1,2,2015,2024-06-25,2025-04-01,Partially Renovated,321830.89,1287.32
1433,2997,Rent,Agent,Malatia-Sebastia,House,59.1,6,7,1995,2023-08-24,2025-05-01,Newly Renovated,93626.33,374.51
1434,2998,Sale,Buyer,Malatia-Sebastia,House,95.4,5,4,2020,2022-09-25,2025-04-09,Not Renovated,232588.18,930.35
1435,3000,Sale,Owner,Nor Nork,House,168.2,6,11,1965,2021-10-04,2025-05-01,Newly Renovated,308767.73,1235.07

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1423 entries, 0 to 1422
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          1423 non-null   int64
 1   deal_type            1423 non-null   object
 2   user_type            1423 non-null   object
 3   district             1423 non-null   object
 4   type_name            1423 non-null   object
 5   size_sqm             1423 non-null   float64
 6   status               1423 non-null   object
 7   rooms                1423 non-null   int64
 8   floor                1423 non-null   int64
 9   year_built           1423 non-null   int64
 10  renovation_status    1423 non-null   object
 11  estimated_saleprice  1423 non-null   float64
 12  estimated_rentprice  1423 non-null   float64
dtypes: float64(3), int64(4), object(6)
memory usage: 144.7+ KB

In [4]:
df.isnull().sum()

property_id            0
deal_type              0
user_type              0
district               0
type_name              0
size_sqm               0
status                 0
rooms                  0
floor                  0
year_built             0
renovation_status      0
estimated_saleprice    0
estimated_rentprice    0
dtype: int64

In [5]:
df.duplicated().sum().any()

np.False_

In [6]:
df.dropna(inplace=True)

In [7]:
df.describe()

,property_id,size_sqm,rooms,floor,year_built,estimated_saleprice,estimated_rentprice
count,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000
mean,1502.613493,114.713212,3.537597,6.465214,1993.248770,221190.432586,884.761862
std,876.017436,50.204404,1.690076,3.397280,17.006906,116219.309695,464.877256
min,1.000000,25.000000,1.000000,1.000000,1965.000000,28081.370000,112.330000
25%,730.500000,69.850000,2.000000,4.000000,1978.000000,128306.335000,513.225000
50%,1481.000000,116.800000,4.000000,6.000000,1993.000000,208308.930000,833.240000
75%,2275.000000,158.500000,5.000000,9.000000,2008.000000,291172.465000,1164.690000
max,2997.000000,200.000000,6.000000,12.000000,2023.000000,683244.030000,2732.980000

In [8]:
df.shape

(1423, 13)

In [9]:
# Define categorical columns
categorical_cols = ['type_name', 'district', 'status', 'renovation_status']

# One-hot encode categorical columns
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Features to exclude from modeling
exclude_columns = ['estimated_rent_price', 'estimated_sales_price', 'id', 'property_id',
 'deal_type',
 'user_type',]

# Determine which columns are features
all_columns = df_encoded.columns.tolist()
feature_columns = [col for col in all_columns if col not in exclude_columns]
feature_columns

['size_sqm',
 'rooms',
 'floor',
 'year_built',
 'estimated_saleprice',
 'estimated_rentprice',
 'district_Arabkir',
 'district_Avan',
 'district_Davtashen',
 'district_Erebuni',
 'district_Kanaker-Zeytun',
 'district_Kentron',
 'district_Malatia-Sebastia',
 'district_Nor Nork',
 'district_Nork-Marash',
 'district_Nubarashen',
 'district_Shengavit',
 'renovation_status_Not Renovated',
 'renovation_status_Partially Renovated']

In [1]:
def evaluate_model(model, X_test, y_test, label=""):
    y_pred = model.predict(X_test)
    print(f"\n--- {label} Model Evaluation ---")
    print("MAE:", mean_absolute_error(y_test, y_pred))
    print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))
    print("R² Score:", r2_score(y_test, y_pred))

In [11]:
# ----------------- Rent Price Model -----------------
X_rent = df_encoded[feature_columns]
y_rent = df_encoded['estimated_rentprice']

X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(X_rent, y_rent, test_size=0.2, random_state=42)

model_rent = RandomForestRegressor(n_estimators=100, random_state=42)
model_rent.fit(X_train_r, y_train_r)

evaluate_model(model_rent, X_test_r, y_test_r, label="Rent Price")

--- Rent Price Model Evaluation ---
MAE: 1.8065270175438903
RMSE: 12.818789033484327
R² Score: 0.9992433165259985

In [12]:
# ----------------- Sales Price Model -----------------
X_sales = df_encoded[feature_columns]
y_sales = df_encoded['estimated_saleprice']
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_sales, y_sales, test_size=0.2, random_state=42)

model_sales = RandomForestRegressor(n_estimators=100, random_state=42)
model_sales.fit(X_train_s, y_train_s)

evaluate_model(model_sales, X_test_s, y_test_s, label="Sales Price")

--- Sales Price Model Evaluation ---
MAE: 452.0154473684318
RMSE: 2903.74201899575
R² Score: 0.9993787654497182

In [13]:
import joblib 

joblib.dump(model_sales, 'models/sales_price_model.pkl')
joblib.dump(model_rent, 'models/rent_price_model.pkl')

['models/rent_price_model.pkl']

In [14]:
df_encoded["predicted_rentprice"] = model_rent.predict(X_rent)
df_encoded["predicted_saleprice"] = model_sales.predict(X_sales)

In [15]:
prediction_df = df[['property_id']].copy()
prediction_df["actual_rentprice"] = df['estimated_rentprice']
prediction_df["predicted_rentprice"] = df_encoded["predicted_rentprice"]
prediction_df["actual_saleprice"] = df['estimated_saleprice']
prediction_df["predicted_saleprice"] = df_encoded["predicted_saleprice"]

In [16]:
# Save to file
output_path = "property_predictions.csv"
prediction_df.to_csv(output_path, index=False)
print(f"\n✅ Prediction CSV saved: {output_path} | Shape: {prediction_df.shape}")

✅ Prediction CSV saved: property_predictions.csv | Shape: (1423, 5)

In [6]:
ready_df = pd.read_csv('output/predictions.csv')
ready_df.head(90)

    predicted_sell_price  predicted_rent_price  prob_sold_within_5_months
0            182613.2781              724.5796                   0.178413
1            136315.8913              549.0840                   0.147066
2            323056.0785             1272.4737                   0.131100
3            227694.6124              932.0888                   0.122786
4            231190.0352              920.3851                   0.195324
..                   ...                   ...                        ...
85           266422.0331             1050.4118                   0.166737
86           220536.6284              880.6428                   0.168164
87           373398.0834             1491.2522                   0.134159
88           244711.4238              978.0669                   0.158210
89           268586.0836             1071.8673                   0.169384

[90 rows x 3 columns]