In [38]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [36]:
df = pd.read_csv('property_ml_ready.csv')
df.head(20)

,property_id,deal_type,user_type,district,type_name,size_sqm,status,rooms,floor,year_built,renovation_status,estimated_saleprice,estimated_rentprice
0,1,Sale,Buyer,Davtashen,NaN,99.8,Available,4,8,2003,Newly Renovated,269242.07,1076.97
1,2,Sale,Owner,Kentron,House,96.4,Available,1,4,1993,Newly Renovated,164102.48,656.41
2,3,Rent,Buyer,Erebuni,House,53.1,Available,1,11,1994,Newly Renovated,78494.18,313.98
3,4,Sale,Buyer,Nubarashen,NaN,60.8,Available,2,11,1966,Partially Renovated,115714.62,462.86
4,5,Sale,Agent,Ajapnyak,House,81.7,Available,2,7,2000,Partially Renovated,148955.74,595.82
5,6,Rent,Owner,Ajapnyak,House,44.0,Available,1,12,1965,Newly Renovated,102406.77,409.63
6,7,Rent,Buyer,Kentron,NaN,160.2,Available,3,11,2014,Not Renovated,173065.03,692.26
7,8,Sale,Agent,Kanaker-Zeytun,NaN,193.1,Available,3,3,2009,Not Renovated,406418.67,1625.67
8,9,Sale,Buyer,Shengavit,NaN,69.5,Available,4,11,1997,Newly Renovated,112919.03,451.68
9,10,Sale,Owner,Davtashen,House,138.9,Available,6,5,1979,Partially Renovated,292136.90,1168.55
10,11,Sale,Buyer,Erebuni,House,156.8,Available,2,12,1994,Newly Renovated,253180.07,1012.72
11,12,Rent,Agent,Erebuni,House,60.2,Available,5,12,2010,Not Renovated,97087.14,388.35
12,13,Sale,Owner,Arabkir,House,195.3,Available,6,12,2017,Partially Renovated,429936.60,1719.75
13,14,Rent,Owner,Nubarashen,House,129.7,Available,4,5,2013,Newly Renovated,288774.60,1155.10
14,15,Sale,Buyer,Arabkir,NaN,140.3,Available,6,1,1990,Partially Renovated,219181.22,876.72
15,16,Rent,Owner,Nubarashen,House,175.2,Available,1,4,1992,Not Renovated,212380.67,849.52
16,17,Sale,Buyer,Erebuni,NaN,197.6,Available,5,3,2008,Newly Renovated,446465.09,1785.86
17,18,Rent,Agent,Avan,NaN,112.7,Available,2,1,1993,Not Renovated,172606.73,690.43
18,19,Rent,Owner,Kanaker-Zeytun,NaN,80.8,Available,5,11,1990,Newly Renovated,220729.11,882.92
19,20,Sale,Owner,Nor Nork,NaN,104.4,Available,4,4,1985,Partially Renovated,249400.22,997.60

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          3000 non-null   int64
 1   deal_type            3000 non-null   object
 2   user_type            2935 non-null   object
 3   district             2941 non-null   object
 4   type_name            1488 non-null   object
 5   size_sqm             3000 non-null   float64
 6   status               3000 non-null   object
 7   rooms                3000 non-null   int64
 8   floor                3000 non-null   int64
 9   year_built           3000 non-null   int64
 10  renovation_status    3000 non-null   object
 11  estimated_saleprice  3000 non-null   float64
 12  estimated_rentprice  3000 non-null   float64
dtypes: float64(3), int64(4), object(6)
memory usage: 304.8+ KB

In [12]:
df.isnull().sum()

property_id               0
deal_type                 0
user_type                65
district                 59
type_name              1512
size_sqm                  0
status                    0
rooms                     0
floor                     0
year_built                0
renovation_status         0
estimated_saleprice       0
estimated_rentprice       0
dtype: int64

In [15]:
df.duplicated().sum().any()

np.False_

In [16]:
df.dropna(inplace=True)

In [17]:
df.describe()

,property_id,size_sqm,rooms,floor,year_built,estimated_saleprice,estimated_rentprice
count,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000
mean,1503.539112,112.116984,3.457364,6.432699,1993.882311,218506.100042,874.024397
std,863.466208,51.318134,1.695046,3.502601,16.906850,116310.459081,465.241911
min,2.000000,25.000000,1.000000,1.000000,1965.000000,28514.030000,114.060000
25%,759.500000,67.250000,2.000000,3.000000,1979.000000,123114.365000,492.460000
50%,1504.000000,111.900000,4.000000,6.000000,1994.000000,202476.840000,809.910000
75%,2236.500000,156.300000,5.000000,9.000000,2009.000000,293232.075000,1172.930000
max,3000.000000,200.000000,6.000000,12.000000,2023.000000,584340.110000,2337.360000

In [18]:
df.shape

(1419, 13)

In [25]:
# Define categorical columns
categorical_cols = ['type_name', 'district', 'status', 'renovation_status']

# One-hot encode categorical columns
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Features to exclude from modeling
exclude_columns = ['estimated_rent_price', 'estimated_sales_price', 'id', 'property_id',
 'deal_type',
 'user_type',]

# Determine which columns are features
all_columns = df_encoded.columns.tolist()
feature_columns = [col for col in all_columns if col not in exclude_columns]
feature_columns

['size_sqm',
 'rooms',
 'floor',
 'year_built',
 'estimated_saleprice',
 'estimated_rentprice',
 'district_Arabkir',
 'district_Avan',
 'district_Davtashen',
 'district_Erebuni',
 'district_Kanaker-Zeytun',
 'district_Kentron',
 'district_Malatia-Sebastia',
 'district_Nor Nork',
 'district_Nork-Marash',
 'district_Nubarashen',
 'district_Shengavit',
 'renovation_status_Not Renovated',
 'renovation_status_Partially Renovated']

In [27]:
def evaluate_model(model, X_test, y_test, label=""):
    y_pred = model.predict(X_test)
    print(f"\n--- {label} Model Evaluation ---")
    print("MAE:", mean_absolute_error(y_test, y_pred))
    print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))
    print("R² Score:", r2_score(y_test, y_pred))

In [29]:
# ----------------- Rent Price Model -----------------
X_rent = df_encoded[feature_columns]
y_rent = df_encoded['estimated_rentprice']

X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(X_rent, y_rent, test_size=0.2, random_state=42)

model_rent = RandomForestRegressor(n_estimators=100, random_state=42)
model_rent.fit(X_train_r, y_train_r)

evaluate_model(model_rent, X_test_r, y_test_r, label="Rent Price")

--- Rent Price Model Evaluation ---
MAE: 1.153401408450708
RMSE: 2.07876475147437
R² Score: 0.9999793886633994

In [33]:
# ----------------- Sales Price Model -----------------
X_sales = df_encoded[feature_columns]
y_sales = df_encoded['estimated_saleprice']
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_sales, y_sales, test_size=0.2, random_state=42)

model_sales = RandomForestRegressor(n_estimators=100, random_state=42)
model_sales.fit(X_train_s, y_train_s)

evaluate_model(model_sales, X_test_s, y_test_s, label="Sales Price")

--- Sales Price Model Evaluation ---
MAE: 303.81806725354227
RMSE: 725.2501642421555
R² Score: 0.9999598586888828

In [37]:
import joblib 

joblib.dump(model_sales, 'models/sales_price_model.pkl')
joblib.dump(model_rent, 'models/rent_price_model.pkl')

['models/rent_price_model.pkl']